{% extends '../base.html' %}
{% load static %}

{% block title %}
Elearn - Add Material
{% endblock %}


{% block content %}
<div class="d-flex flex-row justify-content-center align-items-center m-3">
    <h4>You are adding lesson to {{ course.name }}</h4>
</div>
<div class="container-fluid d-flex flex-column justify-content-top align-items-center mt-3">
    <h1 class="main-h1 mb-2">Add Material</h1>
    <div class="main-login-form sign-form d-flex flex-row flex-wrap justify-content-center align-items-center p-5">
        <form method="post" action="{% url 'add_material' user.id course.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex flex-row justify-content-center">
            <button type="submit" class="index-btn">Add Material</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}