{% extends '../base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid pt-3">
        {% if profile.user_type == 'student' %}
            <div class="container d-flex flex-row justify-content-center">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Seacrh Courses" aria-label="Seacrh Courses" aria-describedby="button-addon2">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
                    </div>
            </div>
            <div class="d-flex flex-row justify-content-between flex-wrap container" id="courses-list-home">
                    {% if all_courses %}
                        {% for course in all_courses %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{ course.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{ course.name }}</h5>
                                <p class="card-text">{{ course.description|truncatechars:150 }}</p>
                                <p class="card-text">Author: {{ course.profile.user.username }}</p>
                                <a href="{% url 'view' user.id course.id %}" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>There are no courses</div>
                    {% endif %}
            </div>
        {% else %}
            <div class="d-flex flex-row justify-content-between flex-wrap container" id="courses-list-home">
                {% if courses %}
                    {% for course in courses %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ course.image.url }}" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text">{{ course.description  }}</p>
                            <a href="{% url 'view' user.id course.id %}" class="btn btn-primary">View</a>
                            <a href="{% url 'add_material' user.id course.id %}" class="btn btn-primary">Add Material</a>
                            </div>
                        </div>
                    {% endfor %}
            </div>
                    <div class="d-flex flex-row justify-content-center">
                        <a href="{% url 'add' user.id %}"><button class="index-btn">Add Course</button></a>
                    </div>
                {% else %}
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div>You have not added courses yet.</div>
                        <div class="d-flex flex-row justify-content-center">
                            <a href="{% url 'add' user.id %}"><button class="index-btn">Get Started</button></a>
                        </div>
                    </div>
                {% endif %}
        {% endif %}
    </div>
{% endblock %}
