{% extends '../base.html' %}
{% load static %}

{% block title %}
Elearn - User profile
{% endblock %}

{% block content %}
<div class="container pt-3">
    {% if profile.user_type == 'teacher' %}
        <section>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                                <div class="col-md-4 gradient-custom text-center text-black"
                                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                    <img src="{{ profile.user_image.url }}"
                                    alt="Avatar" class="img-fluid my-5" style="width: 120px; border-radius: 50px;" />
                                    <h5>{{ user.username }}</h5>
                                    <p>{{ profile.user_type|capfirst }}</p>
                                    <a href="{% url 'edit-profile' user.id %}" class="btn btn-primary">Edit Profile Picture</a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Name</h6>
                                            <p class="text-muted">{{ user.first_name }} {{ user.last_name }}</p> 
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">{{ user.email }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Phone</h6>
                                            <p class="text-muted">{{ profile.phone }}</p>
                                        </div>
                                    </div>
                                    <h6>Courses</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Total Courses</h6>
                                            <p class="text-muted">{{ courses|length }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Most Enrolled</h6>
                                            <p class="text-muted">{{ most_enrolled_course.name }}</p>
                                        </div>
                                    </div>
                                    <h6>Students</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Total Students</h6>
                                            <p class="text-muted">{{ students|length }}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                                <div class="col-md-4 gradient-custom text-center text-black"
                                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                    <img src="{{ profile.user_image.url }}"
                                    alt="Avatar" class="img-fluid my-5" style="width: 120px; border-radius: 50px;" />
                                    <h5>{{ user.username }}</h5>
                                    <p>{{ profile.user_type|capfirst }}</p>
                                    <a href="{% url 'edit-profile' user.id %}" class="btn btn-primary">Edit Profile Picture</a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-4">
                                        <h6>Information</h6>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Name</h6>
                                                <p class="text-muted">{{ user.first_name }} {{ user.last_name }}</p> 
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Email</h6>
                                                <p class="text-muted">{{ user.email }}</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Phone</h6>
                                                <p class="text-muted">{{ profile.phone }}</p>
                                            </div>
                                    </div>
                                    <h6>Courses</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Enrolled Courses</h6>
                                            <p class="text-muted">{{ courses|length }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    
</div>
{% endblock %}
