{% extends '../base.html' %}
{% load static %}

{% block title %}
Elearn - View Courses
{% endblock %}

{% block content %}
    {% if profile.user_type == 'teacher' %}
        <div class="container d-flex flex-column justify-content-center align-items-left mt-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="m-3 course-image-container">
                    <img src="{{ course.image.url }}" class="img-thumbnail">
                </div>
                <div class="d-flex flex-column">
                    <h4>Course: {{ course.name }}</h4>
                    <h4>Category: {{ course.category }}</h4>
                    <h4>Description: {{ course.description }}</h4>
                </div>
                <div class="d-flex flex-column justify-content-between align-items-between">
                    <a href="{% url 'delete' user.id course.id %}"><button class="index-btn">Delete</button></a>
                </div>
            </div>
            {% if course_materials %}
                <div>
                    <h4>Lessons:</h4>
                    <ul>
                        {% for lesson in course_materials %}
                            <div class="row justify-content-center">
                                <p class="col mb-1">{{ lesson.name }}</p>
                                <a class="col mb-1" href="#">Edit</a>
                                <a class="col mb-1" href="#">Delete</a>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="mb-2">You have not added any lessons yet.</div>
                    <a href="{% url 'add_material' user.id course.id %}"><button class="index-btn">Add Lesson</button></a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="container d-flex flex-column justify-content-center align-items-left mt-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="m-3 course-image-container">
                    <img src="{{ course.image.url }}" class="img-thumbnail">
                </div>
                <div class="d-flex flex-column">
                    <h4>Course: {{ course.name }}</h4>
                    <h4>Category: {{ course.category }}</h4>
                    <h4>Description: {{ course.description }}</h4>
                    <h4>Total Lessons: {{ total_lessons }}</h4>
                </div>
            </div>
        </div>
        {% if enrolled %}
            <div class="d-flex flex-row justify-content-center pt-3">
                <a href="{% url 'learn' user.id course.id first_material.id %}"><button class="index-btn">Start Learning</button></a>
            </div>
        {% else %}
            <div class="d-flex flex-row justify-content-center pt-3">
                <a href="{% url 'enroll' user.id course.id %}"><button class="index-btn">Enroll</button></a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}